.App {
  font-family: sans-serif;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.input-row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #6B6B6B;
  border-radius: 5px;
  padding: 10px 5px 10px 15px;
  width: 300px;
  background-color: #FAFAFA;
}

.input-row-border {
  border: 1px solid #286BEC;
  background-color: #FFFFFF;
}

.input-row input {
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  font-size: 16px;
  width: 270px;
  background-color: transparent;
}

.input-row button {
  display: flex;
  justify-content: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.input-row input:focus {
  outline: none;
}

.no-suggestions {
  color: #999999;
  padding: 10px;
}

.suggestions ul {
  border-radius: 5px;
  list-style: none;
  margin-top: 5px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  background-color: #FFFFFF;
  width: 320px;
  color: #7a7a7a;
  padding-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 16px;
}

.suggestions li {
  padding: 15px 15px 5px 15px;
}

.suggestion-active,
.suggestions li:hover {
  color: #1F1F1F;
  cursor: pointer;
}
